$div_backgroundColor: #ffffff;
$pageBackgroundColor: #f5f5f5;
$lineColor: #e8e8e8;
$borderColor: #cdcdcd;
$secondaryColor: #2979C5;
$secondaryColorLight: #74bafc;
$letterColor: #828282;
$secondaryColorDark: #1D4E6E;
$secondaryColorDarker: #123145;