@import '../../variables/variables';
@import '../../fonts/fonts';
@import '../../mixins/mixins.scss';



.shopPage_divs-container{
  max-width: 1024px;
  .shopPage_welcome-container{
    border: 1px solid $borderColor;
    border-radius: 5px;
    background-color: $div_backgroundColor;
    padding: 20px;
    margin-top: 20px;

    .shopPage_welcome-div{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      div{
        padding: 20px 0;
        img{
          width: 200px;
        }
      }
    }
  }

  .shopPage-deviceCard-container{
    @include flexSetUp(row, space-between, center);
    width: 100%;
    margin-top: 10px;
    flex-wrap: wrap;
    gap: 10px;
  }
}

@media only screen and (min-width: 600px){
  .shopPage_divs-container{
    .shopPage_welcome-container{
      .shopPage_welcome-div{
        flex-direction: row;
        padding: 0 30px;
        .shopPage_welcome-image{
          margin-right: 20px;
        }
      }
    }
  }
}