@import '../../variables/variables';
@import '../../fonts/fonts';
@import '../../mixins/mixins.scss';

.deviceDetail-container{
  background-color: $div_backgroundColor;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid $borderColor;
  border-radius: 5px;
  min-width: 180px;
  max-width: 1024px;
  width: 100%;
  flex: 1;
  p{
    color: $letterColor;
  }
  .deviceDetail-imgContainer{
    display: flex;
    justify-content: center;
    img{
      height: 100%;
    }
    .thumb{
      display: none;
    }
  }

  .deviceDetail-right-container{
    p{
      margin-top: 20px;
    }
    .deviceDetail-top{
      width: 100%;
      margin-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid $lineColor;
      h3{
        font-size: 1.5rem;
        margin-top: -20px;
      }
      p{
        font-size: 0.9rem;
      }
    }

    .deviceDetail-shipping{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      div{
        &:nth-child(2){
          margin-top: -30px;
        }
        min-height: 30px;
        display: flex;
        align-items: center;
        img{
          width: 20px;
          height: 20px;
          margin-right: 20px;
        }
        p{
          font-weight: 900;
        }
      }
    }

    .deviceDetail-bottom{
      padding-top: 15px;
      p{
        font-size: 1rem;
      }
      .deviceDetail_bottom-btns{
        height: 50px;
        border-bottom: 1px solid $borderColor;
        button{
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          margin-right: 30px;
          border: none;
          outline: none;
          span{
            width:1.8rem;
            height:1.8rem;
            z-index: 5;
            border-radius: 50%;
            border: 2px solid darkgrey;
          }
          
          &:focus{
            border: 2px solid $secondaryColor;
            border-radius: 50%;
          }
          &:nth-child(1){
            background-color: white;
           span{
            background-color: black;
           }
          }
          &:nth-child(2){
            background-color: white;
            span{
              background-color: rgb(222, 201, 161);
              color: rgb(222, 201, 161);
             }
          }
          &:nth-child(3){
            background-color: white;
            span{
              background-color: white;
              color: white;
             }
          }
        }
      }
      .deviceDetail-storage_payment{
        padding: 20px 0;
        border-bottom: 1px solid $borderColor;
        .deviceDetail-storage{
          display:flex;
          justify-content: space-between;
          gap: 5px;
          .btnStyle-CustomWidth {
            width: 100px;
          }
        }
        .deviceDetail-payment{
          display:flex;
          justify-content: space-between;
          gap: 5px;
          .btnStyle-CustomWidth {
            width: 150px;
          }
        }
      }
      .deviceDetail_bottom-payments{
        padding: 20px 0;
        div{
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          h3{
            font-size: 1.6rem;
            font-family: OpenSans-SemiBold;
            span{
              font-size: 1.2rem;
            }
          }
          img{
            height: 25px;
          }
        }
      }
      .btnDiv{
        padding: 30px 0;
        display: flex;
        justify-content: center;
        button{
          max-width: 300px;
        }
      }
    }
    
    .btnStyle{
      margin-top: 10px;
      width: 100%;
    }
    .deviceDetailSummary{
      position: relative;
      top: 10px;
      p{
        font-family: OpenSans-semiBold;
        font-size: 0.8rem;
        background-color: $secondaryColor;
        color: white;
        border-radius: 5px;
        padding: 5px;
        box-shadow: 6px 7px 17px -1px rgba(0,0,0,0.75);
      }
    }
  }
}

.container{
  margin-top: 20px;
  background-color: $div_backgroundColor;
  padding: 20px;
  border: 1px solid $borderColor;
  border-radius: 5px;
  min-width: 180px;
  width: 100%;
  max-width: 1024px;
  h3{
    padding: 20px 0;
  }
}

.deviceDetail-features{
  ul{
    padding-left: 30px;
    font-family: OpenSans-semiBold;
    color: $letterColor;
  }
}

.deviceDetail-specifications{
  padding-bottom: 40px;
  div{
    margin: 0 10px;
    table{ 
      width: 100%;
      font-size: 0.9rem;
      td{
        line-height: 2rem;
      }
      td:nth-child(odd){
        font-family: OpenSans-Bold;
        width: 40%;
      }
      td:nth-child(even){
        border-left: 1px solid $borderColor;
        padding-left: 10%;
        color: $letterColor;
      }
      tr:nth-child(odd) {
        background-color: $pageBackgroundColor;
      }
    }
  }
}

@media only screen and (max-width: 400px){
  
  .deviceDetail-container{
    min-height: 300px;
    max-width: 100%;
  }
}

@media only screen and (min-width: 600px){
  
  .deviceDetail-container{
    min-width: 250px;
    padding: 20px 40px;
    display: flex;
    justify-content: space-around;
    h3, p{
      font-size: 1rem;
    }
    .deviceDetail-imgContainer{
      width: 100%;
      min-width: 250px;
      padding-top: 50px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      .largePic{
        width: 190px;
        height: 350px;
      }
      div{
        margin-top: 40px;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid $lineColor
      }
      .thumb{
        display: unset;
        width: 25px;
        height: 45px;
      }
    }
    .deviceDetail-right-container{
      width: 100%;
      padding-top: 30px;
      .deviceDetail-bottom{
        .deviceDetail-storage_payment{
          .deviceDetail-storage{
            width: 70%;
          }
          .deviceDetail-payment{
            width: 70%;
          }
        }
        .btnDiv{
          visibility: hidden;
        }
        .deviceDetail_bottom-payments{
          div{
            width: 70%;
            h3{
              font-size: 1.2rem;
            }
          }
        }
      }
    }

    .deviceDetail-bottom{
      .deviceDetail_bottom-priceInfo{
       h3{
          font-size: 1.5rem;
        }
      }
    }
  }

  .container{
    padding: 20px 40px 40px 40px;
  }

  .deviceDetail-features{
    display: none;
  }

  .deviceDetail-specifications{
    table{
        td:nth-child(even){
          padding-left: 100px;
        }
    }
  }
}