@import '../../variables/variables';
@import '../../fonts/fonts';

.footer-outer-container{
  background-color: $secondaryColorDark;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid $lineColor;
  .footer-container{
    width: 100%;
    max-width: 768px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: OpenSans-Bold;
    line-height: 1.5rem;
    h4{
      font-size: 0.8rem;
      padding-bottom: 10px;
    }
    p{
      font-size: 0.6rem;
    }
    .footer-leftContainer{
      display: flex;
      div{
        padding-top: 15px;
        padding-right: 40px;
        ul{
          list-style: none;
          img{
            margin-top: 5px;
            width: 100px
          }
          li{
            font-size: 0.6rem;
            cursor: pointer;
            img{
              width: 30px;
            }
          }
        }
      }
    }
    .footer-rightContainer{
      flex-basis: 30%;
      padding: 10px;
      .quote{
        line-height: 0.8rem;
        margin: 0;
        font-style: italic;
      }
      .author{
        text-align: right;
        font-style: italic;
      }
    }
  }

  .footer-rights{
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondaryColorDarker;
    p{
      font-size: 0.5rem;
      width: 100%;
      max-width: 768px;
      line-height: 1.5rem;
      margin: 0;
    }
  }
}

@media only screen and (max-width: 600px){
  .footer-outer-container{

    .footer-container{
      flex-direction: column;
      .footer-leftContainer{
        flex-direction: column;
        margin-left: 20px;
      }

      .footer-rightContainer{
        flex-direction: column;
        margin-left: 20px;
      }
    }

    .footer-rights{
      text-align: center;
    }
  }
}